body {
  font-family: Roboto;
}
.links {
  color: #050500;
  font-weight: 500;
}
.red-uppercase {
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  color: #EE252F;
}
.btn {
  background-color: #F8DF1F;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
}
@media (min-width: 577px) {
  h2 {
    font-size: 30px;
  }
}
header {
  background-color: #F8DF1F;
}
header .links {
  color: #050500;
  font-weight: 500;
}
header .red-uppercase {
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  color: #EE252F;
}
main .bblogo {
  position: absolute;
  transform: translate(50%, 45%);
}
@media (min-width: 577px) {
  main .ordernow {
    position: absolute;
    transform: translate(-50%, -239%);
  }
}
.best-burgers .red-uppercase {
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
  color: #EE252F;
}
.best-burgers .btn {
  background-color: #F8DF1F;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
}
.dine-in {
  background-color: #F3F3F3;
}
footer {
  background-color: #080801;
  border-top: 5px solid #F8DF1F;
}
