@primary-color: #F8DF1F;
@overlay: rgba(59, 56, 56, .33);
@footer-color: #080801;

@font-family: Roboto;
@h-font-size: 30px;
@font-color: #050500;
@span-color: #EE252F;
@primary-fw: 500;
@secondary-fw: 400;
@uppercase: uppercase;
@p-font-size: 16px;
@med-font-size: 18px;
@border-radius: 8px;
@logo-position: absolute;
@logo-transform: translate(50%, 45%);

@filter: invert(12%) sepia(1%) saturate(4760%) hue-rotate(314deg) brightness(115%) contrast(77%);
